/* Css Theme by CssTemplateHeaven - www.csstemplateheaven.com */

@font-face {
    font-family: 'TitilliumText25L250wt';
    src: url('../font/TitilliumText25L004-webfont.eot');
    src: url('../font/TitilliumText25L004-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/TitilliumText25L004-webfont.woff') format('woff'),
    url('../font/TitilliumText25L004-webfont.ttf') format('truetype'),
    url('../font/TitilliumText25L004-webfont.svg#TitilliumText25L250wt') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'TitilliumBold';
    src: url('../font/TitilliumText25L002-webfont.eot');
    src: url('../font/TitilliumText25L002-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/TitilliumText25L002-webfont.woff') format('woff'),
    url('../font/TitilliumText25L002-webfont.ttf') format('truetype'),
    url('../font/TitilliumText25L002-webfont.svg#TitilliumText25L002-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    background: url(../images/M61.jpg) no-repeat center center fixed;
    border-top: 3px solid #000
}

.row {
    width: 960px
}

.page_wrap {
    margin: 25px auto 25px;
   background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}
.portada{
    width:auto;
    height: auto;
   // background-color: rgba(23, 80, 23, 0.68);
}
.header_nav {
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.8);
    box-shadow: 0 5px 8px rgba(189, 176, 29, 0.84);
    padding: 10px 0 2px;
    margin-bottom: 25px
}

.header_nav_fullwidth {
    background: #f8f8f8;
    padding: 10px 0 2px;
    margin-bottom: 25px;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4)
}

.header_logo {
    padding: 28px 0 0
}

.header_logo img {
    float: right;
    margin-right: 30px
}

.blog_post {
}

p {
    color: #000;
    font-size: 13px
}

h1, h2, h3, h4 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: normal
}

.heading_dots {
    background: url(../images/heading_dots_grey.png) repeat-x center
}

.heading_dots_grey {
    background: url(../images/heading_dots_grey.png) repeat-x center
}

.heading_bg {
    background: #FFF;
    padding-right: 10px
}

.heading_center_bg {
    padding: 0 10px
}

.heading_supersize {
    font-size: 64px;
    text-align: center;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 40px
}

.heading_largesize {
    font-size: 44px;
    text-align: center;
    font-weight: normal
}

.dropcap_green,
.dropcap_black {
    border-radius: 100px 100px 100px 100px;
    display: block;
    float: left;
    font-size: 18px;
    line-height: 35px;
    margin: 4px 8px 0 0;
    text-align: center;
    width: 35px;
}

.dropcap_green {
    background: #aec71e;
    color: #FFF
}

.dropcap_black {
    background: #000;
    color: #FFF
}

.panel {
    background: #fafafa
}

.panel.callout {
    background: #C02702
}

.panel.callout p {
    color: #FFF
}

.nav-bar {
    margin-top: 0;
    background: none
}

.nav-bar > li {
    border: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 1px
}

.nav-bar > li > a:first-child {
    font-size: 16px;
    text-transform: uppercase;
    padding: 5px 25px
}

.nav-bar > li:last-child {
    border: 0
}

.nav-bar > li.active:hover {
    background: #F8F8F8;
    cursor: default;
}

{
}
.nav-bar > li:hover {
    background: #F8F8F8;
    color: #000;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.nav-bar > li > a {
    color: #000
}

.nav-bar > li > a:hover {
    color: #000;
}

.nav-bar > li.has-flyout > a:first-child:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: solid 5px;
    border-color: #848484 transparent transparent transparent;
    position: absolute;
    right: 20px;
    top: 20px;
}

.nav-bar > li.has-flyout > a:hover:first-child:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: solid 5px;
    border-color: #848484 transparent transparent transparent;
    position: absolute;
    right: 20px;
    top: 20px;
}

.flyout {
    background: #FFF;
    border-radius: 5px;
    border: 0;
    margin-top: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
}

ul.flyout li, .nav-bar li ul li {
    border-left: 0
}

ul.flyout li a, .nav-bar li ul li a {
    background: #fff;
    border: 0;
    font-size: 16px;
}

ul.flyout li a:hover, .nav-bar li ul li a:hover {
    background: #f4f4f4;
    color: #000;
    border: 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

/* gallery menu */

.gallery-nav-bar {
    list-style: none;
    text-align: center;
    padding-top: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase
}

.gallery-nav-bar li {
    display: inline-block;
    margin-right: 1px
}

.gallery-nav-bar li {
    padding: 3px 12px
}

.gallery-nav-bar li a {
    color: #000;
    padding: 3px 12px
}

.gallery-nav-bar li a:hover {
    background: #C02702;
    color: #FFF;
    padding: 3px 12px;
    border-radius: 3px
}

/* footer menu */

.footer_menu {
    text-align: center;
    border-top: 1px dashed #999;
    margin: 25px 0 0;
    padding: 20px 0
}

.footer_menu li {
    display: inline;
    list-style: none;
    margin-right: 20px
}

/**************************************************************************************/
/*------------------------------------ pricing tables -------------------------------*/
/************************************************************************************/

/*Pricing box*/
.pricing_box {
    border: 1px solid #ccc;
    float: left;
    text-align: center;
    padding: 0 0 20px 0;
    margin-top: 25px;
    margin-left: -1px;
    box-shadow: 0 2px 10px -4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 10px -4px rgba(0, 0, 0, 0.5);
    background: #fff;
}

.pricing_box.radius-left {
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
}

.pricing_box.radius-right {
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
}

.pricing_box .header {
    text-shadow: 0 1px 1px #fff;
    border-bottom: 1px solid #ccc;
    background: url(../images/price.bg.png) repeat;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
}

.pricing_box .header {
    width: 100%;
    height: 68px;
}

.pricing_box .header span {
    position: relative;
    top: 20px;
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
}

.pricing_box .header span.info {
    position: relative;
    font-size: 12px;
    font-weight: normal;
    top: 2px;
    display: block;
    color: gray;
}

.pricing_box p {
    line-height: 28px;
}

.pricing_box ul {
    list-style: none;
    margin: 0 0 15px 0 !important;
    text-align: left;
}

.cols-2 .pricing_box {
    width: 49.8%;
    margin-bottom: 50px;
}

.cols-3 .pricing_box {
    width: 33%;
    margin-bottom: 50px;
}

.cols-4 .pricing_box {
    width: 24.8%;
    font-size: 1em;
}

.cols-5 .pricing_box {
    width: 19.5%;
    font-size: 0.9em;
}

.pricing_box ul li {
    line-height: 4em;
    padding-left: 20px !important;
    margin-left: 0;
    list-style-type: none !important;
}

.pricing_box ul li.odd {
    background: #F9F9F9;
}

.pricing_box ul li.even {
    background: #fff;
}

.pricing_box strong {
    background: url(../images/price.sprite.png) no-repeat 0 -9999px;
    height: 12px;
    padding-left: 20px;
    font-style: normal;
    color: gray;
}

.pricing_box strong.no {
    background-position: 0 0;
}

.pricing_box strong.yes {
    background-position: 0 -15px;
}

.pricing_box strong.single {
    background-position: 0 -30px;
}

.pricing_box strong.unlim {
    background-position: 0 -45px;
}

.pricing_box strong.more {
    background: url(../images/price.more.png) no-repeat 0 0;
    height: 20px;
    width: 20px;
    cursor: pointer;
    float: right;
    padding: 0;
    margin: 14px 14px 0 0;
}

.pricing_box strong.nopad {
    padding: 0;
}

.pricing_box h3 {
    margin: 20px 0;
    font-size: 22px;
    display: block;
}

.pricing_box h3 em {
    font-size: 12px;
    font-weight: normal;
}

.pricing_box p.button {
    height: 40px;
    background: url(../images/price.readmore.png) no-repeat left 0;
    float: none;
}

.pricing_box p.button a {
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
    background: url(../images/price.readmore.png) no-repeat right -40px;
    padding: 0 40px;
}

.pricing_box p.button:hover {
    background-position: left -80px;
}

.pricing_box p.button a:hover {
    background-position: right -120px;
}

.pricing_box.large {
    position: relative;
    z-index: 9;
    margin-top: 0px;
    -moz-box-shadow: 0 1px 10px #cbcbcb;
    -webkit-box-shadow: 0 1px 10px #cbcbcb;
    box-shadow: 0px 1px 10px #cbcbcb;
    padding: 0 0 40px 0;
    border-radius: 5px;
}

.pricing_box.large .header {
    color: #303E0E;
    text-shadow: 0 1px 0 #C7DD90;
    height: 88px;
    background: url(../images/price.bg.signup.png) repeat;
    border-bottom: 1px solid #b2d850;
}

.pricing_box.large .header span {
    top: 30px;
}

.pricing_box.large .header span.info {
    top: 14px;
    color: #576e1f;
    text-shadow: none;
}

.pricing_box.large p.button {
    background-position: left -160px;
}

.pricing_box.large p.button a {
    background-position: right -200px;
    color: #303E0E;
    text-shadow: 0 1px 0 #C7DD90;
}

.pricing_box.large p.button:hover {
    background-position: left -240px;
}

.pricing_box.large p.button a:hover {
    background-position: right -280px;
}

/*-------------------------------------------------------------------------------------------------*/
/* Masonry
/*-------------------------------------------------------------------------------------------------*/

.centered {
    margin: 0 auto;
}

.box {
    margin: 5px;
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    font-size: 100%;
    line-height: 1.4em;
    float: left;
}

.box p {
    font-size: 12px;
    margin: 0;
    padding: 12px 0
}

.box h2 {
    font-size: 14px;
    font-weight: 200;
}

.box h4 {
    margin-bottom: 0;
    font-size: 14px;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding: 0px;
}

.box img,
#tumblelog img {
    display: block;
    width: 100%;
}

.box_comment {
    background: #F2F0F0;
    border-bottom: 1px solid white;
    padding: 8px;
    border-bottom: 1px solid #D9D4D4;
    border-top: 1px solid #FCFAFA;
    overflow: hidden;
}

.box_comment p {
    font-size: 11px;
    padding: 0px;
}

.rtl .box {
    float: right;
    text-align: right;
    direction: rtl;
}

.col1 {
    width: 80px;
}

.col2 {
    width: 222px;
}

.col3 {
    width: 280px;
}

.col4 {
    width: 380px;
}

.col5 {
    width: 480px;
}

.col1 img {
    max-width: 80px;
}

.col2 img {
    max-width: 211px;
}

.col3 img {
    max-width: 280px;
}

.col4 img {
    max-width: 380px;
}

.col5 img {
    max-width: 480px;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* HEADER */
#header-wrap {
    border-top: 10px solid #c2c545;
    background-color: rgba(77, 149, 67, 0.5);
}
/* END HEADER */

/* FOOTER */
footer{
    width: 960px;
    margin: 0 auto;
    padding: 30px 0 60px 0;
    position: relative;
}

#footer-left{
    float: left;
    width: 50%;
}
#footer-left p{
    font-size: 12px;
    color: #666666;
}
#footer-left a:hover{
    color: #c8c8c8;
}
#footer-right{
    font-family: TitilliumBold,'Open Sans Condensed',"Gotham SSm A","Gotham SSm B","Helvetica Neue",Arial,sans-serif;
    font-size: medium;
    float: left;
    width: 50%;
}
#footer-right ul{
    float: right;
}
#footer-right ul li{
    float: left;
    margin-right: 30px;
}

#footer-right ul li:last-child{
    margin-right: 0;
}
#footer-right ul li a{
    color: #666666;
    display: block;
    padding-bottom: 10px;
    font-size: 12px;
    border-bottom: 2px solid #fff;
}
#footer-right ul li a:hover{
    border-bottom: 2px solid #c8c8c8;
}

#footer-wrap{
    background: url(../images/bg-black-lock.png) repeat !important;
}

#credito {
    height: auto;
    font-size: 9px;
    color: #c3c3c3;
    margin-top: 30px;
    text-transform: uppercase;
    text-align: center;
}

#credito-main{
    font-size: 9px;
    color: #c3c3c3;
    padding: 17px 0;
    text-transform: uppercase;
    text-align: center;
}

.back-top{
    position: absolute;
    bottom: 30px;
    right: 50%;
}

.enlace-red {
    width: 28px;
    height: 28px;
    min-height: 27px;
}

.enlace-facebook a {
    background-image: url(../images/fb.png) ;
}

.enlace-twitter a {
    background-image: url(../images/tw.png);
}


/* END FOOTER */

/* CLEAR FIX */
.group:after {
    content: "";
    display: table;
    clear: both;
}
/* END FIX */

/* VIEWPORT < 960px */

@media only screen and (max-width: 960px){
    header, nav, #slides, #service, #widget, #media, #client, footer, #container{ width: 768px; }
    .slide-right{
        left: 0;
    }
    .slide-heading{
        width: auto;
        height: auto;
        padding: 0;
        margin: 0 0 20px 0;
        background-image: none;
        color: #333;

    }
    .slides_container div img{
        display: none;
    }

    .slide-right .info{
        width: 768px;
        margin-bottom: 20px;
        margin-left: 0;
    }
    .slide-right .readmore{
        margin-left: 0;
    }
    .slides_container{
        height: 200px;
    }
    a.next{
        right: 0px;
    }
    a.prev{
        right: 25px;
    }
    .pagination{
        left: 0;
    }

    #service{
        background: none;
        height: auto;
    }
    #vector{
        padding-left: 0;
        width: 369px;
    }
    #vector img{
        margin-right: 0;
    }
    #web{
        padding-left: 0;
        width: 369px;
    }
    #web img{
        margin-right: 0;
    }
    #facebook{
        display: none;
    }

    #twitter{
        margin-left: 18px;
    }

    #blog{
        clear: both;
    }

    #links{
        width: auto;
        margin-bottom: 30px;
    }

    #links ul li{
        float: left;
        margin-right: 30px;
    }
}


/* VIEWPORT < 768px */
@media only screen and (max-width: 768px){
    header, nav, #slides, #service, #widget, #media, #client, footer, #container{
        width: 524px;
    }
    nav ul li.last{
        display: none;
    }
    .slides_container{
        height: 250px;
    }
    .slide-right .info{
        width: 524px;
    }
    #web{
        background: #4ea57c !important;
        width: 100%;
        margin-bottom: 30px;
    }
    #web img{
        padding-left: 20px;
    }
    #vector{
        width: 100%;
    }
    #vector img{
        padding-left: 20px;
    }

    #service{
        height: auto;
    }
    #video{
        margin: 0 auto 30px auto;
        float: none;
    }

    #twitter, #facebook{
        float: none;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    #facebook{
        display: block;
    }

    #links{
        width: 285px;
        float: none;
        margin: 0 auto;
    }
    #links ul li{
        width: 285px
    }
    #blog{
        float: none;
        margin: 30px auto;
    }
    #location{
        float: none;
        margin: 0 auto;
    }

    #client ul li{
        width: 100%;
        float: none;
        margin: 30px 0;
    }
    #footer-left{
        width: 100%;
        margin-bottom: 30px;

    }
    #footer-left p{
        text-align: center;
    }
    #footer-right{
        float: none;
        width: 100%;
        margin-bottom: 30px;
    }

    #footer-right ul{
        float: none;
        width: 75%;
        margin: 0 auto;
    }
}

/* VIEWPORT < 524px */
@media only screen and (max-width: 524px){
    header, nav, #slides, #service, #widget, #media, #client, footer, #container{
        width: 300px;
    }
    #call{
        display: none;
    }
    header h2 a{
        width: 100%;
        background-position: center top;
    }
    nav{
        height: auto;
    }
    nav ul li{
        float: none;
        border: none;
        border-bottom: 1px solid #336c2b;
        border-top: 1px solid #78c368;
    }
    nav ul li.home{
        border-top: none;
    }
    nav ul li.last{
        display: block;
        border-bottom: none;
        width: 100%;
        margin: 0;
    }
    nav ul li.last div{
        margin-left: 15px;
    }
    nav ul li a{
        text-align: center;
    }
    nav ul li.home a:hover{
        -webkit-border-top-left-radius: 30px;
        -webkit-border-top-right-radius: 30px;
        -webkit-border-bottom-left-radius: 0;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0;
        background: #5fae53 url(images/home.png) no-repeat 50% 50%;
    }


    .slides_container{
        height: 270px;
    }
    .slide-heading{
        width: 300px;
    }
    .slide-right .info{
        width: 300px;
    }
    #web img{
        width: 64px;
        height: 72px;
    }
    #vector img{
        width: 76px;
        height: 69px;
    }
    #service{
        height: auto;
    }
    #footer-right ul{
        float: none;
        width: 285px;
        margin: 0 auto;
    }
    #footer-right ul li{
        float: none;
        margin: 0;
    }
    #footer-right ul li a{
        padding: 8px 0;
    }
}

.column {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    float: none;
    margin: 0 auto;
    background-color: rgba(43, 87, 43, 0.60);
}

.column .content {
    border: none;
    margin-left: 0px;
    padding: 10px 0;
}

.column h1 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    font-family: TitilliumBold,"Gotham SSm A","Gotham SSm B","Helvetica Neue",Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

.column h3 {
    color: #fff;
    font-size: 14px;
    text-align: center;
    font-family: "Gotham SSm A","Gotham SSm B","Helvetica Neue",Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
}

.mailto-info-fmvz {
    color: #ffffff;
    text-decoration: none;
}
a {
    color: #898484;
    font-weight: bold;
    text-decoration: none;
}